@import "tailwindcss";

/* @theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

:root {
  --bgc: #000;
  --tc: #fff;
  --eftc: #9a8866;
}

body {
  background-color: var(--bgc);
  color: var(--tc);
}

html,
body {
  width: 100vw;
  height: 100vh;
}